<h3>{{hello}}</h3>

<div class="parallax-container">
    <div class="parallax"><img
            src="http://i.dailymail.co.uk/i/pix/2014/05/15/article-2629225-1DD4EE7F00000578-436_634x413.jpg"></div>
</div>


<div class="container">
    <div>
        <input type="text" placeholder="Bronies Username" ng-model="pony.username">
    </div>
    <div>
        <input type="text" placeholder="My Little Ponies Name" ng-model="pony.name">
    </div>
    <div>
        <input type="text" src="" alt="submit" placeholder="image URL" ng-model="pony.imgUrl">
    </div>

    <center>
        <button class="btn waves-effect waves-light btn-large" name="action" ng-click=addPony(pony)>ADD PONY
            <i class="material-icons right"></i>
        </button>
    </center>

</div>




















