
body{
    background-image: url("images/purty_wood_@2X.png")
}




ul{
    list-style-type: none;
    margin: none;
    padding: none;
    width: 300px;
    background-color: burlywood;
    position: relative;
    opacity: .8;
}

img{
    max-height: 400px;
    max-width: 400px;
}

li a{
    width: 60px;
    display: inline-block;
    text-decoration: none;
    background-color: saddlebrown;
    padding: 8px 16px;
}

 li a:hover{
    background-color: rebeccapurple;
    width: 180px;
    box-shadow: 30px 30px 15px 0 #999;
    border-radius: 10%;
    transition: all 3s ease;
    
}

.header{
    font-size: 6em;
}

p{
    font-size: 3em;
    color: #7D7277;
    flex-wrap: wrap;
    margin-bottom: 60px;
    
}
i{
    display: block;
    
}
footer {
    font-size: 3em;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    color: firebrick;
}
.icons{
    display: block;
    font-size: 5em;
}

footer:active{
    color: aquamarine;
}