body {
    background-color: #cccccc;
    
}

h1 {
    color: red;
    font-size: 5em;
    text-align: center;
}

h3 {
    color: green;
    font-size: 3em;
    text-align: center;
}

.caption {
    font-size: 2em;
    color: crimson
}
p{
    font-size: 1.5em;
    text-align: center;
    
}
i{
    float: right;
    color: blue;
    opacity: 1;
    
    
}
footer{
    text-align: center;
}
.cheep-cheep{
    height: 18em;
    width: 18em;
}
button{
    width: 200px;
}
.price{
    color:blue;
}

    
