body { 
    background: url("Images/am1io6kusfm-david-grandmougin.jpg"); 
    background-attachment: fixed;
    background-position: center, center;
}

.container{
    color: mintcream;
    
}
table, th, tr, td {
    border: 1px solid lightgreen;
    border-collapse: collapse;
    padding-left: 175px;
    
    
}
table{
    background-color: black;
    margin-left: 150px;
    clear: both;
    color: antiquewhite;
    
}

h1{
    margin-left: 33%;
    color: khaki;
}

input {
    margin-top: 20px;
    position: static;

}







